{% extends 'rpspgate/base.html' %}
{% block 'body_content' %}
<div class="container">
</div> There is a problem with the link entered or answer keys are not yet uploaded. Please come back later or <a class="link-info" href="{% url 'index' %}">Check Another</a>
<div class="container mt-5 pt-2 pb-3" style="border: 1px solid gray; border-radius: 10px;">
	<div class="row pb-2">
		<b style="color:red;">Share your response sheet to help us to include your course paper too</b>
	</div>
	<div class="row pb-4">
		<b style="color:green;">and Please wait for some time for your course to be included</b>
	</div>
	<div class="row">
		<form method="POST">
		{% csrf_token %}
		<input style="width: 80%; height: 2.5rem; outline: none; border: 0px solid white; border-bottom: 2px solid blue;" type="text" name="link" placeholder="Enter response sheet link">
		<button class="btn btn-primary mt-lg-0 mt-md-3" type="submit">Submit link</button>
	</form>
	</div>
</div>
<div style="position: absolute; bottom: 0px; width: 100%; text-align: center;">&copy; <b><u>ShPr Org.</u></b></div>
{% endblock %}